// Chan{{.}}FuncNil returns a channel to receive all results of act until nil before close.
func Chan{{.}}FuncNil(act func() {{.Dot}}) (<-chan {{.Dot}}) {
	out := make(chan {{.Dot}})
	go func() {
		defer close(out)
		for {
			res := act() // Apply action
			if res == nil {
				return
			}
			out <- res
		}
	}()
	return out
}
