{{/*-
{{.DotDot ""		"string"	}}
{{.DotDot "StringS"	"[]string"	}}
{{.DotDot "Reader"	"*strings.Reader"	}}
{{.DotDot "Replacer"	"*strings.Replacer"	}}
{{range .Range}}
	{{.DotDot ":Package:" "IsString"}}
{{end}}
{{with .G "Reader"   }}
	{{with .G ":Import:"   }}
		{{.DotDot "strings"	""	}}
	{{end}}
{{end}}
{{with .G "Replacer"   }}
	{{with .G ":Import:"   }}
		{{.DotDot "strings"	""	}}
	{{end}}
{{end}}
-*/}}
{{- template "Prolog"			. -}}
// from go/types/type.go

// BasicKind describes the kind of basic type.
type BasicKind int

// BasicInfo is a set of flags describing properties of a basic type.
type BasicInfo int

// Properties of basic types.
const (
	IsBoolean BasicInfo = 1 << iota
	IsInteger
	IsUnsigned
	IsFloat
	IsComplex
	IsString
	IsUntyped

	IsOrdered   = IsInteger | IsFloat | IsString
	IsNumeric   = IsInteger | IsFloat | IsComplex
	IsConstType = IsBoolean | IsNumeric | IsString
)

var _ BasicInfo = IsOrdered // allows to use "Merge"
// token.LSS, token.LEQ, token.GTR, token.GEQ
