{{/*-
{{.DotDot ""		"uintptr"	}}
{{range .Range}}
	{{.DotDot ":Package:" "IsUnsafe"}}
{{end}}
-*/}}
{{- template "Prolog"			. -}}
/* Quote from "The Go Programming Language" Chapter 3 - page 52:
Finally, there is an unsigned integer type uintptr, whose width is not specified but is sufficient to hold all the bits of a pointer value.
The uintptr type is used only for low-level programming, such as at the boundary of a Go program with a C library or an operating system.
*/
