// Chan{{.}} returns a channel to receive all inputs before close.
func Chan{{.}}(inp ...{{.Dot}}) (out <-chan {{.Dot}}) {
	cha := make(chan {{.Dot}})
	go func(out chan<- {{.Dot}}, inp ...{{.Dot}}) {
		defer close(out)
		for i := range inp {
			out <- inp[i]
		}
	}(cha, inp...)
	return cha
}
