// Done{{.}}Func returns a channel to receive one signal before close after act has been applied to all inp.
func Done{{.}}Func(inp <-chan {{.Dot}}, act func(a {{.Dot}})) chan struct{} {
	done := make(chan struct{})
	if act == nil {
		act = func(a {{.Dot}}) { return }
	}
	go func() {
		defer close(done)
		for i := range inp {
			act(i) // Apply action
		}
		done <- struct{}{}
	}()
	return done
}
