{{/*-
{{.DotDot ""		"*list.List"}}
{{.DotDot "ListS"	"[]*list.List"}}
{{.DotDot "Element"	"*list.Element"}}
{{.DotDot "ElementS"	"[]*list.Element"}}
{{range .Range}}
	{{.DotDot ":Package:" "list"}}
	{{with .G ":Import:"}}
		{{.DotDot "container/list" "list"}}
	{{end}}
{{end}}
-*/}}
{{- template "Prolog"			. -}}
// No go functionality is associated with this source file.
