{{/*-
{{.DotDot ""		"error"		}}
{{.DotDot "ErrorS"	"[]error"	}}
{{range .Range}}
	{{.DotDot ":Package:" "IsError"}}
{{end}}
-*/}}
{{- template "Prolog"			. -}}
// No go functionality is associated with this source file.
