{{/*-
{{.DotDot ""		"struct{}"		}}
{{.DotDot "PatS"	"[]struct{}"		}}
{{range .Range}}
	{{.DotDot ":Package:" "pat"}}
{{end}}
-*/}}
{{- template "Prolog"			. -}}
// No go functionality is associated with this source file.
