{{/*-
{{.DotDot ""		"interface{}"		}}
{{.DotDot "AnyS"	"[]interface{}"		}}
{{range .Range}}
	{{.DotDot ":Package:" "IsAny"}}
{{end}}
-*/}}
{{- template "Prolog"			. -}}
// No go functionality is associated with this source file.
